.App {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100vh;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.colors{
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 45vh;
}
.colors p {
  width: 16%;
  text-align: center;
  border: 3px solid #fff;
  border-bottom: 2px;
  border-radius: 5px;
}